@import '../../node_modules/normalize.css/normalize';
@import 'variables';
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400&family=Roboto&family=Roboto+Slab&display=swap');
@import 'typography';
@import 'header';
@import 'report';
@import 'technologies';
@import 'gallery';
@import 'technology';
@import 'analysis';
@import 'footer';
@import 'blockquotes';
@import 'code';
@import '../../shared/fontawesome/scss/fontawesome';
$fa-font-path: '../../shared/fontawesome/webfonts';
@import '../../shared/fontawesome/scss/brands';
@import '../../shared/fontawesome/scss/solid';
@import '../../shared/fontawesome/scss/regular';

body {
    background-color: $background-color;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    
}

* {
    color: $font-color;
}
