html {
    font-size: 100%;
}

body {
    line-height: $line-height;
}

h1 {
    font-size: 3rem;
    margin-bottom: $text-margin * 2;
    font-family: $serif-font-family;
}

h2 {
    font-size: 2rem;
    margin-bottom: $text-margin * 2;
    font-family: $serif-font-family;
}

a {
    font-family: $serif-font-family;
}

h3 {
    font-size: 1.5rem;
    margin-bottom: $text-margin;
    font-family: $sans-font-family;
}

h4 {
    font-size: 1.3rem;
    margin: 0;
    font-family: $sans-font-family;
}

p {
    font-size: $font-size;
    margin-bottom: $text-margin;
    margin-top: 0;
    font-family: $sans-font-family;
}

.main {
    max-width: 67rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    margin: 0 auto;
    min-height: 100vh;
}

.content {
    border: 1px solid $content-background-color;
    border-radius: 16px;
    margin-top: 2em;
    margin-bottom: 2em;
    padding: 2em;
    background-color: $content-background-color;
}
