$font-color: #fff;
$font-color-alt: #fff;
$accent-color: #161616;
$background-color: #1F1F1F;
$header-footer-color: #0A0A0A;
$li-active-hover-color: #3568F5;
$content-background-color: #292929;
$content-hover: rgba(252, 252, 252, 0.7);
$border-color: #fff;
$line-height: 1.4;
$font-size: 1.1rem;

$text-margin: $line-height * $font-size;

$serif-font-family: 'Roboto Slab', serif;
$sans-font-family: 'Montserrat' sans-serif;
