{% include 'incl/header.twig' %}

<body>
    {% include 'incl/nav.twig' %}

    <div class="main" role="main">
        <div class="img-container">
                {{ content }}
        </div>
        <div class="yt-container">
            <iframe class="responsive-iframe" src="https://www.youtube.com/embed/xkLy_E187Q4" title="Kennedy Bakircioglü drömfrispark och målgest mot IFK Göteborg! *FIRAR MED ÖL*" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          </div>
    </div>
    
    {% include 'incl/footer.twig' %}
</body>

</html>